<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>

<body>
<div class = "center-container">
    <div class = "image-container">
        <img class = 'image' src = 'static/placeholder.png'>
    </div>
    <form action="https://www.google.com/search" id="search-form" class="searchform" method="get" name="searchform" target="_blank">
        <input autocomplete="off" id="search-input" class="form-control search" name="q" placeholder="Looking for something?" required="required"  type="text" autofocus="autofocus">
    </form>
    <div class = 'links-container'>
        <div class = 'links-group'>
            <h2>Work</h2>
            <ul class = 'links-list'>
                <li><a href = 'https://google.com'>GitHub</a></li>
                <li><a href = 'https://google.com'>Confluence</a></li>
                <li><a href = 'https://google.com'>Jira</a></li>
            </ul>
            </div>
            <div class = 'links-group'>
            <h2>Social</h2>
            <ul class = 'links-list'>
                <li><a href = 'https://google.com'>LinkedIn</a></li>
                <li><a href = 'https://google.com'>Twitter</a></li>
            </ul>
            </div>
            <div class = 'links-group'>
            <h2>Entertainment</h2>
            <ul class = 'links-list'>
                <li><a href = 'https://google.com'>Reddit</a></li>
                <li><a href = 'https://google.com'>Youtube</a></li>
                <li><a href = 'https://google.com'>NOS</a></li>
                <li><a href = 'https://google.com'>Gmail</a></li>
            </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>